head
  meta(charset='utf-8')
  title Movie Database
  style
    include  ../stylesheet.css
div(class='navbar') 
  a(href='/' class='navbar-item') Home
  a(href='/profile' class='navbar-item') Profile
  a(href='/userauth' class='navbar-item') Sign In/Up
  a(href='/search' class='navbar-item') Search
  a(href='/contribute' class='navbar-item') Contribute

div(class='page')
  a(href='/contribute') Couldn't find what your're looking for? Click this link to add a movie.
  br
  br
  b Search Results: 
  br
  each movie in list 
      a(href='/movies/examplemovie') #{movie}
      br